.about {
    padding-top: 21px;
}
.about__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: $Gradient-red-text;
    background-clip: text;
    color: transparent;
    background-clip: text;
    padding-bottom: 30px;
}
.about__speak {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    
}
.about__speak-bot {
    padding-bottom: 20px;
}
.about__svg {
    display: flex;
    align-items: center;
}
.about__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: $Gradient-red-text;
    background-clip: text;
    color: transparent;
    background-clip: text;
    padding-left: 12px;
}
.about__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $main;
    padding-top: 10px;
}
.about__item {
    padding-left: 30px;
    margin-left: -30px;
    padding-bottom: 40px;
    border-left: 4px solid  $grey-Separator;
}
.about__item-1 {
    padding-bottom: 0;
}
.about__box {
    padding: 29px;
}
@media (min-width: 768px) {
    .about__title {
        font-size: 38px;
        line-height: 46px;
    }
    .about {
        padding-top: 46px;
    }
    .about__box {
        padding: 28px 0px 60px 43px
    }
    .about__item {
        padding-left: 35px;
        margin-left: -45px;
}
}
@media (min-width: 1025px) {
    .about {
    display: flex;
    padding-bottom: 58px;
    }
    .about__left {
        width: 80%;
        padding-right: 30px;
    }
    .about__box {
        padding: 0 0px 30px 43px
    }
}
@media (min-width: 1440px) {
    .about {
    display: flex;
    padding-bottom: 58px;
    }
    .about__left {
        width: 64%;
        padding-right: 30px;
        padding-left: 120px;
    }
    .about__box {
        padding: 0 0px 30px 43px
    }
}